In [2]:
import os
from dotenv import load_dotenv
# Caminho raiz do projeto
load_dotenv()
os.listdir('../')

['bronze_layer',
 'etl_service.py',
 'gold_layer',
 'main.py',
 'silver_layer',
 'sources',
 '__init__.py',
 '__pycache__']

# Importações de Bibliotecas que serão utilizadas para ingestão de dados

In [3]:
import pandas as pd

# Carregamento e Análise da base a ser ingerida

In [4]:
data = pd.read_csv('../sources/dataset.csv', index_col='id')
data.head(3)

,price,url,region,region_url,fuel,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
id,,,,,,,,,,,,,,,,,,,,,
7309798041,2100,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,gas,2006,subaru,impreza,fair,4 cylinders,...,NaN,hatchback,NaN,https://images.craigslist.org/00606_6sZwmmrJ9r...,Looking to sell my 2006 Subaru Impreza hatchba...,NaN,al,32.547500,-85.468200,2021-04-20 14:55:48.000
7302327214,19000,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://auburn.craigslist.org,gas,2017,subaru,forester,like new,4 cylinders,...,NaN,SUV,red,https://images.craigslist.org/00G0G_h9cQ6gnrh5...,2017 Subaru Forester 2.5i Premium in excellent...,NaN,al,32.592000,-85.518900,2021-04-05 22:06:46.000
7316878036,21950,https://bham.craigslist.org/ctd/d/birmingham-2...,birmingham,https://bham.craigslist.org,gas,2012,toyota,tacoma 4x4,excellent,4 cylinders,...,NaN,truck,silver,https://images.craigslist.org/01414_7wr1JpVcI3...,Morris Auto Sales 205-408-0120 4513 Valleydale...,NaN,al,33.384664,-86.737847,2021-05-04 19:11:28.000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82971 entries, 7309798041 to 7302353283
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         82971 non-null  int64
 1   url           82971 non-null  object
 2   region        82971 non-null  object
 3   region_url    82971 non-null  object
 4   fuel          82553 non-null  object
 5   year          82971 non-null  int64
 6   manufacturer  79518 non-null  object
 7   model         82366 non-null  object
 8   condition     57531 non-null  object
 9   cylinders     82971 non-null  object
 10  odometer      82971 non-null  int64
 11  title_status  80274 non-null  object
 12  transmission  82925 non-null  object
 13  VIN           45290 non-null  object
 14  drive         72389 non-null  object
 15  size          39331 non-null  object
 16  type          74090 non-null  object
 17  paint_color   66621 non-null  object
 18  image_url     82971 non-null  object
 19  description   82971 non-null  object
 20  county        0 non-null      float64
 21  state         82971 non-null  object
 22  lat           82971 non-null  float64
 23  long          82971 non-null  float64
 24  posting_date  82971 non-null  object
dtypes: float64(3), int64(3), object(19)
memory usage: 16.5+ MB

In [8]:
data.describe()

,price,year,odometer,county,lat,long
count,8.297100e+04,82971.000000,8.297100e+04,0.0,82971.000000,82971.000000
mean,1.090852e+04,2002.790107,9.968908e+04,NaN,38.073258,-94.903715
std,2.736743e+04,133.002241,1.714782e+05,NaN,8.067394,23.676977
min,0.000000e+00,0.000000,0.000000e+00,NaN,-84.122245,-159.719900
25%,4.650000e+03,2009.000000,5.065450e+04,NaN,34.645747,-116.911017
50%,8.500000e+03,2013.000000,9.300000e+04,NaN,39.433086,-89.984850
75%,1.490000e+04,2016.000000,1.329710e+05,NaN,42.471136,-80.324600
max,6.995495e+06,2022.000000,1.000000e+07,NaN,64.947500,94.163200

In [9]:
data.shape

(82971, 25)